/*Start box*/
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.space-center {
  justify-content: center;
}
.f-wrap {
  flex-wrap: wrap;
}
.d-grid {
  display: grid;
}
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-40 {
  gap: 40px;
}

.d-block {
  display: block;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}
/* End box */

/* Start padding + margin */
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pr-5 {
  padding-right: 5px;
}
.pr-10 {
  padding-right: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-5 {
  padding-left: 5px;
}
.pl-10 {
  padding-left: 10px;
}
.m-auto {
  margin: auto;
}
.m-0 {
  margin: 0;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}

.mr-10 {
  margin-right: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-auto {
  margin-right: auto;
}
/* End padding + margin */
/* Start color */
.c-white {
  color: white;
}
.c-grey {
  color: var(--grey-color);
}
.c-black {
  color: black;
}

.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-green {
  color: var(--green-color);
}
.c-red {
  color: var(--red-color);
}
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-red {
  background-color: var(--red-color);
}

/* end color */

/* Start position */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/* End position */
/* Start font */
.txt-c {
  text-align: center;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-18 {
  font-size: 18px;
}
.fw-normal {
  font-weight: normal;
}
.fw-bold {
  font-weight: bold;
}
.lh-2 {
  line-height: 2;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/* End font */

/* Start border */
.b-none {
  border: none;
}
.border-ccc {
  border: 1px solid #ccc;
}
.border-r-ccc {
  border-right: 1px solid #ccc;
}
.border-b-eee {
  border-bottom: 1px solid #eee;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-half {
  border-radius: 50%;
}
/* End border */
/* Start width */
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.h-full {
  height: 100%;
}
/* End width */
/* BUTTON */
.c-pointer {
  cursor: pointer;
}

/* End button */
/*Start component */
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
/* End component */
