:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  min-height: 120vh;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}

:disabled {
  cursor: no-drop;
  background-color: #ccc;
}
/* .avatar {
  width: 50px;
  height: 50px;
} */
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
}

.wrapper-200 {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (max-width: 767px) {
  .wrapper-200 {
    grid-template-columns: minmax(200px, 1fr);
  }
}
.wrapper-300 {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .wrapper-300 {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: rgb(255, 255, 255, 0.8);
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}
.avatar:not(:first-of-type) {
  margin-left: -15px;
}

.avatar-m {
  width: 100px;
  height: 100px;
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}

/* Start sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3::before,
.sidebar > h3::after {
  content: "";
  position: absolute;
  background-color: black;
  transform: translateX(-50%);
}
.sidebar > h3::before {
  width: 80px;
  height: 2px;
  bottom: -20px;
  left: 50%;
}
.sidebar > h3::after {
  left: 50%;
  bottom: -29px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px solid white;
}

.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .sidebar {
    width: 62px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
  .sidebar ul li a span {
    display: none;
  }
}
/* End sidebar */

/* Start content */
.content {
  overflow: hidden;
}

.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.head .search input {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: width 0.3s;
}

.head .search input:focus {
  width: 200px;
  border-color: #ddd;
}
.head .search input:focus::placeholder {
  opacity: 0;
}

.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
.page h1 {
  margin: 20px 20px 40px;
}

.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -10px;
  left: 0;
}
.page h1::before {
  background-color: white;
  width: 120px;
}
.page h1::after {
  background-color: black;
  width: 40px;
}

/* End content */
/* Start welcome widget */
.intro {
  height: 200px;
}
.welcom {
  overflow: hidden;
}
.welcom-img {
  width: 170px;
  margin-bottom: -40px;
}

.welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}

.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div {
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px;
  }
  .welcom .avatar {
    margin-left: 0;
  }
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* End welcome widget */

/* Start quick draft */
.quick-draft textarea {
  resize: none;
  min-height: 180px;
}
.quick-draft .save {
  margin-left: auto;
  transition: 0.3s;
  cursor: pointer;
}

.quick-draft .save:hover {
  background-color: var(--blue-alt-color);
}
/* End quick draft */
/* Start target */
.targets .target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.targets .details {
  flex: 1;
}
.targets .details .progress {
  height: 4px;
}

.targets .details .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.targets .details .progress > span span {
  position: absolute;
  right: -16px;
  bottom: 16px;
  color: white;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 13px;
}

.targets .details .progress > span span::after {
  content: "";
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  bottom: -10px;
  border-top-color: var(--blue-alt-color);
  left: 50%;
  transform: translateX(-50%);
}

.targets .details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}
.targets .details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}
.targets .details .progress > .green span::after {
  border-top-color: var(--green-color);
}

.blue .icon,
.blue .progress {
  background-color: rgb(0, 117, 225, 0.2);
}

.orange .icon,
.orange .progress {
  background-color: rgb(245, 158, 11, 0.2);
}

.green .icon,
.green .progress {
  background-color: rgb(34, 197, 94, 0.2);
}
/* End target */
/* Start tickects */
.tickets .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}

@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}
/* End tickets */

/* Start latest news */
.news-row:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.news-row img {
  width: 100px;
  border-radius: 6px;
  margin-right: 15px;
}
.news-row .info {
  flex-grow: 1;
}

.news-row .info h3 {
  margin: 0 0 6px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .news-row {
    display: block;
  }
  .news-row .label {
    display: block;
    margin: 10px auto;
    width: fit-content;
  }
}

/* Start Tasks */

.task-row:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.task-desc {
  flex-grow: 1;
}
.task-done > * {
  opacity: 0.5;
  text-decoration: line-through;
}

.task-done .delete-task {
  text-decoration: none;
}
.delete-task {
  cursor: pointer;
  transition: color 0.3s;
}
.delete-task:hover {
  color: var(--red-color);
}

/* START LATEST UPLOAD */
.upload-row:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
}
.upload-row img {
  width: 50px;
}
.upload-info {
  flex: 1;
}

/* END LATEST UPLOAD */
/* Start project progress */
.progress {
  z-index: 1;
}
.progress-content::before {
  content: "";
  position: absolute;
  width: 2px;
  height: calc(100% - 60px);
  background-color: var(--blue-color);
  left: 15px;
  bottom: 50%;
  transform: translateY(50%);
}
.progress-circle {
  width: 30px;
  height: 30px;
  border: 1px solid var(--blue-color);
  border-radius: 50%;
  background-color: white;
  /* z-index: 1; */
}

.progress-circle.done::before,
.progress-circle.current::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border: 2px solid white;
  background-color: var(--blue-color);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* z-index: -1; */
}

.progress-circle.current::before {
  animation: 3s linear infinite progress;
}
.progress-row {
  margin-top: 10px;
}
.progress-img {
  position: absolute;
  right: 0;
  width: 200px;
  bottom: 0px;
  z-index: -1;
  opacity: 0.5;
}
/* End project progress */

/* START REMINDER */
.reminder-row {
  border-left-width: 2px;
  border-left-style: solid;
  margin-left: 15px;
}
.reminder-row::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
}
.reminder-blue {
  border-left-color: var(--blue-color);
}

.reminder-blue::before {
  background-color: var(--blue-color);
}

.reminder-green {
  border-left-color: var(--green-color);
}
.reminder-green::before {
  background-color: var(--green-color);
}
.reminder-orange {
  border-left-color: var(--orange-color);
}
.reminder-orange::before {
  background-color: var(--orange-color);
}
.reminder-red {
  border-left-color: var(--red-color);
}
.reminder-red::before {
  background-color: var(--red-color);
}
/* END REMINDER */

/* START LATEST POST */
.post-img {
  width: 40px;
  height: 40px;
}
.post-p {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 140px;
}
/* END LATEST POST */
/* Start social stats */
.social-follow {
  flex: 1;
}

.social-row {
  padding: 0;
  height: 3rem;
  margin-bottom: 20px;
  overflow: hidden;
}
.social-icon {
  width: 70px;
  height: 100%;
}
.twitter-row {
  background-color: rgb(29, 161, 242, 0.2);
}
.twitter-row .social-icon,
.twitter-row .social-btn {
  background-color: #1da1f2;
}
.facebook-row {
  background-color: rgb(24, 119, 242, 0.4);
}
.facebook-row .social-icon,
.facebook-row .social-btn {
  background-color: #1877f2;
}
.youtube-row {
  background-color: rgb(255, 0, 0, 0.4);
}
.youtube-row .social-icon,
.youtube-row .social-btn {
  background-color: #ff0000;
}
.linkedin-row {
  background-color: rgb(0, 119, 181, 0.4);
}
.linkedin-row .social-icon,
.linkedin-row .social-btn {
  background-color: #0077b5;
}
/* End social stats */
/* Start priojects table */
.projects .responsive-table {
  overflow-x: auto;
}
.projects table {
  min-width: 1000px;
  border-spacing: 0;
}
.projects thead td {
  background-color: #eee;
  font-weight: bold;
}

.projects table td {
  padding: 15px;
}

.projects tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
.projects table tr {
  transition: 300ms;
}
.projects table tr td:last-of-type {
  border-right: 1px solid #eee;
}
.projects table tr:hover td {
  background-color: rgb(251, 251, 251);
}

/* End priojects table */

/* START SETTINGS */
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .settings-page {
    grid-template-columns: minmax(100px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

.settings-page .close-message {
  border: 1px solid #ccc;
  resize: none;
  min-height: 150px;
}

.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.toggle-switch {
  width: 78px;
  height: 32px;
  background-color: #eee;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  font-size: 1.3rem;
  background-color: white;
  color: #eee;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}

/* END SETTINGS */

/* Start general info */
.info-element input {
  outline: none;
}

.info-element input:focus::placeholder {
  opacity: 0;
}
.mail-wrapper input {
  flex: 1;
}

/* End general info */

/* Start security info */
.sec-box {
  padding-top: 10px;
  padding-bottom: 10px;
}

.sec-box:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

/* end security info */

/* Start social info */

.social-info-row i {
  height: 40px;
  width: 40px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 6px 0 0 6px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
}
.social-info-row input {
  height: 40px;
  border: 1px solid #ccc;
  background-color: #eee;
  padding-left: 10px;
}

.social-info-row:focus-within i {
  color: var(--blue-color);
}
/* End social info */

/* START WIDGET CONTROL */
.widgets-row label {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}
.widgets-row input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
.widgets-row label::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #888;
  border-radius: 3px;
  background-color: white;
  transition: 0.3s;
}
.widgets-row label:hover::before {
  border-color: var(--blue-color);
}
.widgets-row label::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  position: absolute;
  font-weight: 900;
  color: white;
  background-color: var(--blue-color);
  /* opacity: 0; */
  font-size: 14px;
  top: 50%;
  left: -4.2px;
  transform: translateY(-50%) scale(0) rotate(180deg);
  transition: 0.3s;
}
.widgets-row input:checked ~ label::before {
  transform: translateY(-50%);
}
.widgets-row input:checked ~ label::after {
  transform: translateY(-50%) scale(1) rotate(0);
}

.widgets-row input[type="checkbox"]:checked {
  /* accent-color: var(--blue-color); */
}

/* END WIDGET CONTROL */

/* START BACKUP MANAGER */
.backup-row input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.backup-row label {
  font-size: 20px;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}
.backup-row label::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid #ccc;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 1px;
}
.backup-row label::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: -3.4px;
  top: 50%;
  transform: translateY(-50%) scale(0);
  border-radius: 50%;
  background-color: var(--blue-color);
  transition: 0.3s;
}
.backup-row input[type="radio"]:checked ~ label::before {
  border-color: #0075ff;
}
.backup-row input[type="radio"]:checked ~ label::after {
  transform: translateY(-50%) scale(1);
}
.backup-list {
  padding-top: 20px;
  border-top: 1px solid #eee;
}
@media (max-media: 767px) {
  .backup-list {
    flex-wrap: wrap;
  }
}
.backup-server {
  border: 2px solid #ccc;
  cursor: pointer;
  transition: 0.3s;
}

.backup-server input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.backup-server span {
  transition: 0.3s;
}

.backup-server:has(input[type="radio"]:checked) {
  border-color: var(--blue-color);
}
.backup-server:has(input[type="radio"]:checked) span {
  color: var(--blue-color);
}
/* END BUCKP MANAGER */

/* PROFILE PAGE */
/* Profile overview */

@media (max-width: 767px) {
  .profile-overview {
    flex-direction: column;
  }
}

.overview-left {
  width: 300px;
  min-height: 400px;
}
@media (min-width: 768px) {
  .overview-left {
    border-right: 1px solid #eee;
  }
}
.overview-left img {
  width: 120px;
  height: 120px;
}
.profile-level {
  width: 70%;
  height: 5px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
}

.profile-level span {
  position: absolute;
  left: 0;
  height: 100%;
}
.overview-box {
  transition: 0.3s;
}
.overview-box:hover {
  background-color: rgb(241, 239, 239, 0.5);
}
.info-box {
  margin-top: 20px;
  /* flex-direction: column; */
  gap: 20px;
}

@media (max-width: 767px) {
  .info-box {
    flex-direction: column;
  }
  .overview-box label {
    display: block;
    width: fit-content;
    margin-inline: auto;
  }
}

/* End profile overview */

/* SKILLS AND ACTIVITIES */

.skills-activities {
  /* flex-wrap: wrap; */
}

.my-skills {
  flex: 1;
}

.my-activities {
  flex: 2;
}
.activities-img {
  width: 80px;
  height: 80px;
}

.activities-info {
  flex: 1;
}

@media (max-width: 767px) {
  .skills-activities {
    flex-direction: column;
  }
  .my-skills,
  .my-activities {
    margin: 0;
  }
  .my-skills {
    margin-bottom: 10px;
  }
  .skills-list ul {
    justify-content: center;
  }
  .activities-list li {
    flex-direction: column;
  }
}
/* END SKILLS AND ACTIVITIES */

/* START PROJECTS PAGE */
.projects-date {
  right: 10px;
  top: 10px;
}

.budget-level {
  width: 250px;
  height: 8px;
}
.budget-level span {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}

.projects-skills {
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .projects-skills {
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
  }
}
/* END PROJECTS PAGE */
/* START COURSES PAGE */
.course-avatar {
  width: 60px;
  height: 60px;
  left: 20px;
  top: 20px;
}
.course-img-box {
  width: 100%;
  height: 250px;
}
.course-img {
  border-radius: 6px 6px 0 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.course-btn {
  z-index: 2;
}
.course-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #eee;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}
.course-btn button {
  cursor: pointer;
}
/* END COURSES PAGE */

/* Friends page */
.firends-icons i {
  border-radius: 50%;
  cursor: pointer;
  transition: 300ms;
}
.firends-icons i:hover {
  background-color: var(--blue-color);
  color: white;
}

/* End friends page */

/*START FILES PAGE */
.files-page {
  align-items: flex-start;
}
@media (max-width: 767px) {
  .files-page {
    align-items: normal;
    flex-direction: column-reverse;
  }
}

.files-statistics {
  min-width: 300px;
}
.files-stats-rwo {
  border: 1px solid #ccc;
  border-radius: 6px;
}
.files-name {
  flex: 1;
}
.files-upload button {
  position: relative;
  padding: 10px;
  font-size: 18px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
  padding-left: 30px;
  transition: background-color 300ms;
}
.files-upload button:hover {
  background-color: var(--blue-alt-color);
}
.upload-icon {
  font-size: 18px;
  /* font-weight: 400; */
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.files-upload button:hover .upload-icon {
  animation: 1s linear 0s infinite upload;
}
.files-wrapper {
  flex: 1;
}

.dwonload-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  color: var(--grey-color);
}

.files-img {
  display: block;
  margin-inline: auto;
  width: 100px;
}
/* END FILES PAGE */
/* START PLANS */
.plan-head {
  border: 3px solid white;
  position: relative;
}
.plan-head::before {
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  left: -6px;
  top: -6px;
  border: 3px solid;
}
.plan-head.green-head::before {
  border-color: var(--green-color);
}
.plan-head.blue-head::before {
  border-color: var(--blue-color);
}
.plan-head.orange-head::before {
  border-color: var(--orange-color);
}
.plan-price {
  font-size: 30px;
}
.plan-price::before {
  content: "$";
  position: absolute;
  left: -20px;
  top: -5px;
}
.icon-info {
  font-size: 10px;
  background-color: var(--grey-color);
  padding: 6px 10px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
.plans-join {
  cursor: pointer;
}
/* END PLANS */
/* Animations */

@keyframes progress {
  0%,
  50% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}

@keyframes upload {
  0%,
  50% {
    top: 60%;
    transform: translateY(-50%);
  }
  25%,
  75% {
    top: 30%;
    transform: translateY(-50%);
  }
  100% {
    top: 50%;
    transform: translateY(-50%);
  }
}
